mixin sub-text-field()
    label.sub-text-field__wrap
        input(type="text" name!= attributes.name placeholder!= attributes.placeholder value!= attributes.value class!= attributes.class).sub-text-field
        button.sub-text-field__btn
            i.material-icons.sub-text-field__icon arrow_forward