mixin checkbox-btn(text, value)
    label.checkbox-btn
        input(type="checkbox" value= value)
        div.checkbox-btn__wrap
            div.checkbox-btn__btn
            p.checkbox-btn__text= text