@import "../../../shared/styles/variables.scss";

.checkbox-btn {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;;
}

// .checkbox-btn__title {
//     padding-bottom: 16px;
// }

.checkbox-btn__wrap {
    display: flex;
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: -999px;
}

.checkbox-btn__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    flex-shrink: 0;

    border: 1px solid $color-shade-25;
    border-radius: 4px;

    &:after {
        content: "";
        display: none;
        background: url(../../../assets/img/checkbox-btn.svg) center center no-repeat;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        // width: 6px;
        // height: 8px;
        // background: $color-gradient-main;
        // transform: rotate(45deg);
        
    }
}

.checkbox-btn__text {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0px;
    color: $color-shade-50;
    line-height: 18px;
}

input[type=checkbox]:checked + .checkbox-btn__wrap {

    .checkbox-btn__btn {
        border-color: $color-main;
        flex-shrink: 0;

        &:after {
            display: block;
        }
    }
}
