@import "../../../shared/styles/variables.scss";

.like-btn {
    position: relative;
    min-width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $color-shade-25;
    background: transparent;
    cursor: pointer;

    color: $color-shade-25;
    padding: 0px 5px 0 20px;
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    font-weight: normal;
    text-transform: none;

    i {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        bottom: 0;
        left: 5px;
        margin: auto 0;
        color: $color-shade-25;
        font-size: 10px;
    }

    &:hover, &.like-btn_liked {
        background: white;
        background-clip: padding-box;
        border: solid 1px transparent;
        color: $color-main;

        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
            background: $color-gradient-main;
        }

        i {
            color: $color-main;
        }
    }
}


