mixin like-btn(number=0, liked)
    if liked
        button(class= "like-btn like-btn_liked")= number
            i.material-icons favorite
    else 
        button(class= "like-btn")= number
            i.material-icons favorite_border
