extends ../components/layout/layout.pug
include form-elements/buttons/button.pug
include form-elements/text-field/text-field.pug
include form-elements/radio-button/radio-button.pug
include form-elements/checkbox/checkbox.pug
include form-elements/toggle/toggle.pug
include form-elements/like-btn/like-btn.pug
include form-elements/bullet-list/bullet-list.pug
include form-elements/rate-button/rate-button.pug
include form-elements/range-slider/range-slider.pug
include form-elements/rich-checkbox-btn/rich-checkbox-btn.pug
include form-elements/feedback/feedback.pug
include form-elements/icon-list/icon-list.pug


block title
    title UI

block content
    +btn("CLICK ME")
    +btn("CLICK ME", "border")
    +btn("CLICK ME", "transparent")
    +btn("CLICK ME", "long")
    h1 Hello, world!
    h2 Hello, world!
    h3 Hello, world!
    +text-field("Email", "Text field")
    +radio-btn("Женщина", "female", "sexs")
    +checkbox-btn("Женщина", "female")
    +toggle("Получать спецпредложения", "offer")
    +like-btn
    
    div.wraper-btn
        +rich-checkbox-btn("Широкий коридор", "Ширина коридоров в номере не менее 91 см", "hall")
            p Ширина коридоров в номере не менее 91 см

    +bullet-list
        li Нельзя с питомцами
        li Без вечеринок и мероприятий
        li sndfklhfd;hsedi;hsed;hrfeh skjfksdhfk klajsd 
    
    +rate-btn(2)

    div.wraper
        +range-slider

    div.wrap-feedback
        +feedback("Мурад Сарафанов", "5 дней назад", 'https://avatars.mds.yandex.net/get-pdb/222681/42c2066c-eb68-4d72-b1d6-3a621ef09bf7/s1200?webp=false')
            p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

    +icon-list("mood", "Комфорт", "Шумопоглощающие стены")
    +icon-list("location_city", "Удобство", "Окно в каждой из спален")
    +icon-list("whatshot", "Уют", "Номер оснащен камином")