extends ../components/layout/layout.pug
include form-elements/buttons/button.pug
include form-elements/text-field/text-field.pug
include form-elements/radio-button/radio-button.pug
include form-elements/checkbox/checkbox.pug
include form-elements/toggle/toggle.pug
include form-elements/like-btn/like-btn.pug
include form-elements/bullet-list/bullet-list.pug
include form-elements/rate-button/rate-button.pug
include form-elements/range-slider/range-slider.pug
include form-elements/rich-checkbox-btn/rich-checkbox-btn.pug
include form-elements/feedback/feedback.pug
include form-elements/icon-list/icon-list.pug
include form-elements/title/title.pug


block title
    title UI

block content
    .area.area_text-btn
        .area__wrap
            .area__content
                +title("Text field", "Default")
                +text-field(placeholder= "Email")
                +title("Text field", "Hover/Focus")
                +text-field(value= "This is a pretty awesome" class= "text-field_focus")
                +title("Dropdown")
                +title("Masked text field")
            .area__content
                +title("Date dropdown")
                +title("Date dropdown")
            .area__content
                +title("Filter date dropdown")
            .area__content
                +title("Subscription text field")
        .area__wrap
            .area__content
                +title("Checkbox buttons")
                +checkbox-btn("Можно курить")(value= "smoke" name= "allowed")
                +checkbox-btn("Можно с питомцами")(value= "animales" name= "allowed" checked)
                +checkbox-btn("Можно пригласить гостей (до 10 человек)")(value= "guests" name= "allowed" checked)
            .area__content
                +title("Radio buttons")
                +radio-btn("Мужчина")(value= "men" name= "sex" class= "sex-radio-btn" checked)
                +radio-btn("Женщина")(value= "women" name= "sex")
            .area__content
                +title("Toggle")
                +toggle("Получать спецпредложения")(value= "offer" checked)
                +toggle("Получать спецпредложения")(value= "offer")
            .area__content
                +title("Like button")
                +like-btn
                +like-btn
            .area__content
                +title("Rate button")
        .area__wrap
            +btn("CLICK ME")
            +btn("CLICK ME", "border")
            +btn("CLICK ME", "transparent")
            +btn("CLICK ME", "long")
    h1 Hello, world!
    h2 Hello, world!
    h3 Hello, world!


    
    div.wraper-btn
        +rich-checkbox-btn("Широкий коридор", "Ширина коридоров в номере не менее 91 см", "hall")
            p Ширина коридоров в номере не менее 91 см

    +bullet-list
        li Нельзя с питомцами
        li Без вечеринок и мероприятий
        li sndfklhfd;hsedi;hsed;hrfeh skjfksdhfk klajsd 
    
    +rate-btn(2)

    div.wraper
        +range-slider

    div.wrap-feedback
        +feedback("Мурад Сарафанов", "5 дней назад", 'https://avatars.mds.yandex.net/get-pdb/222681/42c2066c-eb68-4d72-b1d6-3a621ef09bf7/s1200?webp=false')
            p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

    +icon-list("mood", "Комфорт", "Шумопоглощающие стены")
    +icon-list("location_city", "Удобство", "Окно в каждой из спален")
    +icon-list("whatshot", "Уют", "Номер оснащен камином")