// @import "../shared/styles/variables.scss";
// @import "../components/layout/layout.scss";
// @import "./form-elements/buttons/button.scss";
// @import "./form-elements/text-field/text-field.scss";
// @import "./form-elements/radio-button/radio-button.scss";
// @import "./form-elements/checkbox/checkbox.scss";
// @import "./form-elements/toggle/toggle.scss";
// @import "./form-elements/like-btn/like-btn.scss";
// @import "./form-elements/bullet-list/bullet-list.scss";
// @import "./form-elements/rate-button/rate-button.scss";
// @import "./form-elements/range-slider/range-slider.scss";

@import "../shared/styles/variables.scss";

.wraper {
    width: 266px;
}

.wraper-btn {
    width: 250px;
}

.wrap-feedback {
    width: 650px;
}

// .icon-list__item {
//     border-bottom: 1px solid $color-shade-10;
// }

// .icon-list__wrap{
//     border-bottom: 1px solid $color-shade-10;

//     &:last-child {
//         border-bottom: 0px;
//     }
// }