// @import "../shared/styles/variables.scss";
// @import "../components/layout/layout.scss";
// @import "./form-elements/buttons/button.scss";
// @import "./form-elements/text-field/text-field.scss";
// @import "./form-elements/radio-button/radio-button.scss";
// @import "./form-elements/checkbox/checkbox.scss";
// @import "./form-elements/toggle/toggle.scss";
// @import "./form-elements/like-btn/like-btn.scss";
// @import "./form-elements/bullet-list/bullet-list.scss";
// @import "./form-elements/rate-button/rate-button.scss";
// @import "./form-elements/range-slider/range-slider.scss";

@import "../shared/styles/variables.scss";

.area {
    display: flex;
    flex-direction: row;
    margin: 143px 141px 100px 141px;
    flex-shrink: 0;
}

.area_small {
    margin-bottom: 50px;
}

.area__wrap {
    margin: 0px 63px;
    width: 320px;
    flex-shrink: 0;
}

.area__wrap_long {
    width: 766px;
}

.content__wrap_short {
    width: 267px;
}

.area__content {
    margin-bottom: 40px;
}

.content__wrap {
    margin-top: 16px;
    margin-bottom: 30px;
}

.content__wrap_short {
    width: 267px;
    margin: 0;
}

.content__wrap_horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    & > * {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}