mixin icon-list(icon, title, text)
    .icon-list__wrap
        i.material-icons.icon-list__icon= icon
        .icon-list__wrap-text
            p.icon-list__title= title
            p.icon-list__text= text
