@import "../../../shared/styles/variables.scss";

.icon-list__wrap {
    display: flex;
    max-width: 280px;
    padding: 17px 0;
    border-bottom: 1px solid $color-shade-10;

    &:last-child {
        border-bottom: 0;
    }
}

.icon-list__icon {
    width: 48px;
    height: 48px;
    background: $color-gradient-main;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-main;
    font-size: 48px;
}

.icon-list__wrap-text {
    margin-left: 10px;
}

.icon-list__title {
    font-weight: bold;
    margin: 0;
}

.icon-list__text {
    margin: 0;
}