@import "~normalize.css";
@import "../../shared/styles/variables.scss";
@import "../../assets/fonts/fonts.css";
@import '~material-design-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1, h2, h3, body, button, label, p, ul, li, input {
    color: $color-base;
}

h1, h2, ul {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3, body, button, label, p, li, input {
    // font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 30px;
}

h2, ul {
    font-size: 19px;
    line-height: 24px;
}

h3, button, label, input {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

body, p, li {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
}

.material-icons {
    height: 24px;
    font-size: 24px;
    color: white;
    text-align: center;
}

label, input {
    span {
        display: block;
    }
}
