@import "~normalize.css";
@import "../../assets/fonts/fonts.css";
@import '~material-design-icons/iconfont/material-icons.css';

h1, h2 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3, body, button {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-size: 19px;
    line-height: 24px;
}

h3, button {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

body {
    font-size: 14px;
    line-height: 24px;
}

.material-icons {
    height: 24px;
    font-size: 24px;
    color: white;
    text-align: center;
}

