@import "../../../shared/styles/variables.scss";

.text-field {
    min-width: $width-long;
    min-height: $height;
    background: white;
    border: 1px solid $color-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    color: $color-shade-75;
    margin-top: 5px;
    padding: 13px 15px;

    &:hover, &:focus {
        border: 1px solid $color-shade-50;
    }

    &::placeholder {
        color: $color-shade-25;
    }
}