@import "../../../shared/styles/variables.scss";

.text-field__wrap {
    display: block;
    height: 100%;
}

.text-field {
    min-width: $width-long;
    height: $height;
    background: white;
    border: 1px solid $color-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    color: $color-shade-75;
    padding: 13px 15px;

    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;

    &:hover, &:focus {
        border: 1px solid $color-shade-50;
    }

    &::placeholder {
        color: $color-shade-25;
    }
}