@import "../../../shared/styles/variables.scss";

.element-title > * {
    margin-bottom: 10px;;

    &:last-child {
        margin-bottom: 0;
    }
}

.element-title__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.element-title__name {
    margin: 0;
}

.element-title__desc {
    text-transform: uppercase;
    color: $color-shade-50;
    font-size: 12px;
    line-height: 15px;
}