mixin rich-checkbox-btn(text)
    label.rich-checkbox-btn
        input(type="checkbox" value!= attributes.value class!= attributes.class)
        div.rich-checkbox-btn__wrap-btn
            div.rich-checkbox-btn__btn
        div.rich-checkbox-btn__wrap-text
            p.rich-checkbox-btn__text= text
            div.rich-checkbox-btn__description
                block