mixin rich-checkbox-btn(text, description, value)
    label.rich-checkbox-btn
        input(type="checkbox" value= value)
        div.rich-checkbox-btn__wrap
            div.rich-checkbox-btn__btn
            p.rich-checkbox-btn__text= text
        div.rich-checkbox-btn__description= description