mixin radio-btn(text)
    label.radio-btn(class!= attributes.class)
        input(type="radio" name!= attributes.name value!= attributes.value checked!= attributes.checked form!= attributes.form)
        div.radio-btn__wrap
            div.radio-btn__btn
            p.radio-btn__text= text