mixin radio-btn(text, value, name)
    label.radio-btn
        input(type="radio" name= name value= value)
        div.radio-btn__wrap
            div.radio-btn__btn
            p.radio-btn__text= text