@import "../../../shared/styles/variables.scss";

.range-slider.ui-slider {

    &.ui-slider-horizontal {
        min-width: 266px;
        height: 6px;
        border: 1px solid $color-shade-25;
        border-radius: 3px;
        background: none;
    }

    .ui-slider-range {
        height: 8px;
        background: $color-gradient-secondary;
        top: -1px;
    }

    .ui-slider-handle {
        width: 12px;
        height: 12px;
        background: $color-gradient-secondary;
        // border: 2px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #fff;
        top: -3px;
    }
}

.range-slider__wraper {
    display: flex;
    justify-content: flex-end;
    min-width: 266px;
    margin-top: 0;
    margin-bottom: 23px;
}

.range-slider__quantity {
    display: block;
    color: $color-shade-50;
    text-align: right;
    font-weight: normal;
    border: none;
}
