mixin range-slider(text)
    p.range-slider__wraper
        label(for="amount")= text
        input(type="text" id="amount" class="range-slider__quantity")
    div(id="slider-range" class="range-slider")