mixin btn(text, type="bg")
    if type != "long"
        button(form!= attributes.form disabled!= attributes.disabled class!= attributes.class class= "btn btn_"+type)= text
    else
        button(form!= attributes.form disabled!= attributes.disabled class!= attributes.class class= "btn btn_"+type)= text
            i.material-icons arrow_forward
