mixin btn(text, type="bg")
    if type != "long"
        button(disabled!= attributes.disabled class= "btn btn_"+type)= text
    else
        button(disabled!= attributes.disabled class= "btn btn_"+type)= text
            i.material-icons arrow_forward
