mixin btn(text, type="bg")
    if type != "long"
        button(class= "btn btn_"+type)= text
    else
        button(class= "btn btn_"+type)= text
            i.material-icons arrow_forward


//- button(class="btn btn_bg btn_border btn_transparent btn_long") CLICK ME